// Here only applies primary-color that you will use for this particular application
// You can use colors coming from customVariables if you want...

$primary-color: $accSkyBlue;
$learning-color: $accSkyBlue;

$dark-primary-color:#015074;  

$darken-primary-color: #01344b;