
.forMenu.forMenu-wrap .menu-list-item {
    border-bottom: 1px solid #505050;
}

.forMenu.forMenu-wrap .menu-list-item-sub {
    border-top: 1px solid #505050;
    margin-left: 15px;
    padding-left: 0;
}

.forMenu.forMenu-wrap .menu-list-item-sub2 {
    border-top: 1px solid #505050;
    margin-left: 15px;
    padding-left: 15px;
}

.forMenu.forMenu-wrap .menu-list-item-arr {
    float: right;
    font-size: 16px;
}

.forMenu.forMenu-wrap .bdb {
    border-bottom: 1px solid #505050;
}

.forMenu.forMenu-wrap .bdt {
    border-top: 1px solid #505050;
}

.forMenu.forMenu-wrap .bdbn {
    border-bottom: 0 none;
}
