.popup-container .popup {
    min-width: 266px;
    min-height: 138px;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    overflow: visible;
}

.popup .ion-checkmark-circled,
.popup .learn-Icon-Complete{
    margin: 5px 0 15px;
    font-size: 70px;
    color: #282a2b;
    display: inline-block;
}

.popup h6 {
    font-size: 12px;
    color: #999;
}

.checkIn-popup-wrap {
    position: relative;
    padding: 30px 0 0 0;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
}

.checkIn-popup-wrap .learn-Icon-ParticipantsInRoom {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-radius: 50%;
    background-color: #47a518;
    color: #fff;
    font-size: 16px;
}

.learn-Icon-ParticipantsInRoom.attendance-titleicon {
    font-family: Ionicons !important;
    background-color: #999;
}

.learn-Icon-ParticipantsInRoom.attendance-titleicon:before {
    content: '\f39d';
}

.checkIn-popup-wrap h6 {
    color: #999;
    font-size: 14px;
}

.checkIn-popup-wrap p {
    margin-top: 5px;
    margin-bottom: 50px;
    color: #444;
}

.checkIn-popup-wrap span {
    color: #999999;
}

.checkIn-popup-btn {
    display: inline-block;
    width: 96px;
    height: 40px;
    line-height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
}

.checkIn-popup-close-btn {
    position: absolute;
    left: 50%;
    display: inline-block;
    z-index: 99;
    margin-left: -10px;
    color: #fff;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.checkIn-popup .popup-head {
    display: none;
}

.checkIn-popup .popup-body {
    padding: 0;
    overflow: visible;
}

.popup-container {
    background-color: rgba(15,15,15,0.6);
}

