.tab-priorities-wrap .scheduleDetail-date-wrap {
    border: 0 none;
    padding-top: 20px;
    padding-bottom: 15px;
}

.tab-priorities-tittle-wrap {
    padding: 0 20px;
    
}

.tab-priorities-tittle-wrap p {
    color: #666;
    font-size: 12px;
}

.tab-priorities-tittle-wrap h2 {
    font-family: "Rotssa";
    font-size: 24px;
    color: #222;
    
}

.materials-wrapper {
    width: 100%;
    padding: 0;
    border-bottom: 2px solid #282a2b;
}

.tab-priorities-list {
    border-bottom: 1px solid #f0f0f0;
}

.tab-priorities-list-logo {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

.tab-priorities-list .tab-priorities-list-title {
    padding-left: 40px;
    min-height: 30px;
    line-height: 16px;
    color: #666;
    font-size: 12px;
    white-space: normal;
}

.tab-priorities-list .icon {
    left: 20px;
}

.tab-priorities-list .item-complex.item-icon-left .item-content {
    padding-left: 60px;
}

.tab-priorities-item {
  
}