<ion-view view-title="SCHEDULE" hide-nav-bar="true" ng-init="initSchedulesPage()" class="tab-attendance-wrap">

    <ion-header-bar no-tap-scroll="true" class="tab-attendance-head"
                    ng-class="{true: 'bgc000', false: 'bgcb90b62'}[trainingItem.fromAdmin]"
                    align-title="center">
        <i ng-click="$ionicGoBack()" class="acc-angle-left"></i>
        <h1>
            SCHEDULE
        </h1>
    </ion-header-bar>

    <ion-content has-bouncing="true" delegate-handle="scheduleScroll" class="scheduleDetail-wrapper">

        <ion-refresher ng-disabled="!trainingItem.isCurrent"
                       pulling-text=""
                       pulling-icon=""
                       on-refresh="loadingSchedule()">
        </ion-refresher>

        <div class="previous-activity-wrap" ng-show="!noScheduleDataShow" ng-if="showTitle">
            <div class="previous-activity-btn">previous activity</div>
        </div>

        <ion-item class="item item-no-data" ng-show="noScheduleDataShow">
            <p class="noDataShowText">Course schedule not defined.</p>
        </ion-item>
        <div ng-repeat="item in Schedule" ng-show="!noScheduleDataShow" ng-init=" daycount = $index"
             ng-class="{ 'currentState': item.eventState.isCurrentState , 'pastState': item.eventState.isPastState}"
             ng-if="!hideDay[$index]"
        >
            <div ng-if="Schedule.length > 0">
                <ion-item class="item item-icon-right scheduleDetail-date-wrap">
                    <div class="tab-attendance-day-wrap dibonline">
                        <div class="scheduleDetail-date">
                            <div>DAY</div>
                            <div>{{$index+1}}</div>
                        </div>
                    </div>
                    <div class="tab-attendance-date-info-wrap dibonline">
                        <span>{{item['@count']}}</span>
                    </div>
                    <svg class="icon svg-Icon-AddedToCalendar calendar-style"
                         ng-if="haveEvent[$index] && !trainingItem.fromAdmin && !item.eventState.isPastState">
                        <use xlink:href="#svg-Icon-AddedToCalendar"></use>
                    </svg>

                    <svg class="icon svg-Icon-AddToCalendar2 calendar-style"
                         ng-if="!haveEvent[$index] && !trainingItem.fromAdmin && !item.eventState.isPastState"
                         ng-disabled="ImpersonateStatus"
                         ng-click="ImpersonateStatus || addToCalendar( item['@count'],item.event[0].starttime,item.event[0].endtime, item.event[0].name, item.event[0].location,subHour,$index ,0 )"
                    >
                        <use xlink:href="#svg-Icon-AddToCalendar2"></use>
                    </svg>
                </ion-item>
            </div>
            <div ng-if="item.event.length > 0">
                <ion-item ng-repeat="subitem in item.event"
                          ng-class="{ 'currentState': subitem.isCurrentState , 'pastState': subitem.isPastState}"
                          class="tab-attendance-state-list-wrap"
                >
                    <div class="tab-attendance-state-list-inof">
                            <span ng-if="!subitem.isUpcomingState">
                                <span class="sateStyle">
                                    <span class="learn-Icon-InProgress" ng-if="subitem.isCurrentState">
                                        <span class="path1"></span><span class="path2"></span><span
                                            class="path3"></span>
                                    </span>
                                    <span class="learn-Icon-Complete" ng-if="subitem.isPastState">
                                        <span class="path1"></span><span class="path2"></span>
                                    </span>
                                </span>
                            </span>
                        <!--
                        标题黑色：class="schedule-list-title c#222"
                        标题灰色：class="schedule-list-title"
                        -->
                        <p class="schedule-list-title c#222">{{subitem.name}}</p>
                        <div class="schedule-list-title2" ng-class="{true:'pdl22'}[!subitem.isUpcomingState]">
                            {{subitem.starttime | timeProcessing }} - {{subitem.endtime |
                            timeProcessing }} | {{subitem.location}}
                        </div>
                    </div>

                </ion-item>
            </div>
        </div>

    </ion-content>

</ion-view>
