<ion-view hide-nav-bar="true" class="newPersonalisedMessage-wrap">
    <div class="bar bar-header bar-clear">
        <div class="newPersonalisedMessage-title">New Message</div>
        <div class="buttons">
            <i class="icon acc-close" ng-click="closeNewMessage()"></i>
        </div>
    </div>

    <div align-title="left" class="bar bar-subheader bar-stable">
        <!--<h2 id="ToListSizeID" class="newPersonalisedMessage-subtitle">To: {{sendToTextLineGroup}}{{sendToTextLine}}</h2>-->
        <h2 id="ToListSizeID" class="newPersonalisedMessage-subtitle">To: {{ sentTextLineParse}}</h2>
        <div class="buttons" ng-click="navigateToSendToList()">
            <i class="icon acc-plus-light"></i>
        </div>
    </div>

    <ion-content class="has-subheader">
        <!--when SendTo is empty will show the first NewMessage Page(26/39)-->
        <div ng-if="flag == 1" id="newMessageFromIconClick">
            <ion-list>
                <ion-item ng-click="selectGroupList('A')">All Participants</ion-item>
                <ion-item ng-click="selectGroupList('I')">{{checkInCount}} In the room</ion-item>
                <ion-item ng-click="selectGroupList('O')">{{checkOutCount}} Out of the room</ion-item>
            </ion-list>
        </div>
        <!--when SendTo is not empty will show the second NewMessage Page(30/39) -->
        <div id="newMessageFromEIDSlide" >
                <textarea ng-model="message.body" placeholder="Type your message" class="newPersonalisedMessage-textarea"></textarea>
            <div class="newPersonalisedMessage-item-wrap">
                <div class="newPersonalisedMessage-item-btn {{scheduleStyle}}" ng-click="clickSchedule()">SCHEDULE FOR LATER</div>
                <div class="newPersonalisedMessage-item-btn {{nowStyle}}" ng-click="clickNow()">SEND NOW</div>
            </div>
            <div ng-if="showSchedulePlugin">
                <label class="item item-input item-icon-right" ng-click="openDatePlugin()">
                    <div class="input-label">
                        Schedule Date
                    </div>
                    <span class="item-note" placeholder="MM DD YYYY">{{scheduleDate}}</span>
                    <i class="icon learn-Icon-AddToCalendar" style="padding-right: 5px" ></i>
                </label>
                <label ng-click="openTimePlugin()"  class="item item-input item-icon-right">
                    <div class="input-label">
                        Schedule Time
                    </div>
                    <span class="item-note" placeholder="HH:MM">{{scheduleTime}}</span>
                    <i class="icon acc-alarm-clock" style="padding-right: 5px"></i>
                </label>
                <div class="newPersonalisedMessage-textarea-btn" ng-click="clickToSendMessage('schedule')">CONFIRM</div>
            </div>

        </div>
    </ion-content>
</ion-view>