<ion-view view-title="" hide-nav-bar="true" class="activity-page-wrap">
    <!--<ion-nav-bar class="bar-transparent">-->
        <!--<ion-nav-buttons side="left">-->
            <!--<button menu-toggle="left" class="button button-icon learn-Icon-HamburgerMenu"-->
                    <!--ng-if="!trainingItem.fromAdmin"></button>-->
            <!--<i ng-click="navigateToState('app.events', null)" class="acc-angle-left" ng-if="trainingItem.fromAdmin"></i>-->
        <!--</ion-nav-buttons>-->
        <!--<ion-nav-buttons side="right">-->
            <!--<i ng-click="viewNotifications()"-->
               <!--ng-class="{true: 'ion-ios-bell activeity-head-bell-style', false: 'ion-ios-bell activeity-head-bell-NoUnRead-style'}[unReadIcon]"-->
               <!--title="{{unreadCount}}"></i>-->
        <!--</ion-nav-buttons>-->
    <!--</ion-nav-bar>-->

    <ion-content locking="true" scroll-event-interval="5" has-header="false" has-bouncing="true"
                 class="no-header activity-page-content-bg" ng-class="{'people-bgr': !showCircleList}">
        <ion-list ng-class="{'activity-head-wrap': !showCircleList}">
            <ion-item-divider class="app-name">
                <ion-header-bar no-tap-scroll="true" class="tab-attendance-head bgctransparent"

                                align-title="center">
                    <i ng-click="backToEvents()" class="acc-angle-left" ng-if="trainingItem.fromAdmin"></i>
                    <button menu-toggle="left" class="button button-icon learn-Icon-HamburgerMenu"
                            ng-if="!trainingItem.fromAdmin"></button>
                    <h1>
                    </h1>
                    <i ng-click="viewNotifications()" ng-if="!trainingItem.fromAdmin"
                       ng-class="{true: 'ion-ios-bell activeity-head-bell-style', false: 'ion-ios-bell activeity-head-bell-NoUnRead-style'}[unReadIcon]"
                       title="{{unreadCount}}"></i>
                </ion-header-bar>
                <!--
                <div class="activity-page-navbar">
                    <button menu-toggle="left" class="button button-icon learn-Icon-HamburgerMenu"
                            ng-if="!trainingItem.fromAdmin"></button>
                    <i ng-click="backToEvents()" class="acc-angle-left" ng-if="trainingItem.fromAdmin"></i>
                    <i ng-click="viewNotifications()"
                       ng-class="{true: 'ion-ios-bell activeity-head-bell-style', false: 'ion-ios-bell activeity-head-bell-NoUnRead-style'}[unReadIcon]"
                       title="{{unreadCount}}" ng-if="!trainingItem.fromAdmin"></i>
                </div>
                -->
                <img ng-src="img/{{trainingItem.imgName}}" class="activity-page-headimg"/>
                <div class="activity-head-tittle-wrap" ng-if="isContentDisabled">
                    <div class="activity-head-tittle" ng-if="!showCircleList">
                        INDIA LEARNING CENTER
                    </div>
                    <div class="activity-head-sub-tittle" ng-if="!showCircleList">
                        No ongoing events for you...
                    </div>
                </div>
                <div class="activity-head-tittle-wrap" ng-if="!isContentDisabled">
                    <div class="activity-head-tittle" ng-if="!showCircleList">
                        {{trainingItem.currentTrainingTitle}}
                    </div>
                    <div class="activity-head-sub-tittle" ng-if="!showCircleList">
                        {{trainingItem.currentTrainingDate}} | {{trainingItem.city}}
                    </div>
                </div>
                <div class="activity-head-bottom" ng-if="!showCircleList&&!isContentDisabled">
                    <div class="activity-head-bottom-left" ng-click="openNewArticle()">
                        <i class="learn-Icon-Pencil"></i>
                        <p class="activity-head-bottom-message">
                            What’s on your mind…
                        </p>
                        <i class="learn-Icon-Camera" ng-click="openNewArticle()"></i>
                    </div>
                    <div class="activity-head-bottom-right">
                        <i class="learn-Icon-ActivitySettings" ng-click="openSelectCircle()"></i>
                    </div>
                </div>
            </ion-item-divider>
        </ion-list>

        <ion-list class="stream-tab" ng-if="!isContentDisabled">
            <div>
                <ion-list class="light-bgr content">
                    <div class="list card acc-thing" ng-if="!showCircleList">
                        <ion-item class="item-body noborders">
                            <div class="scheduleDetail-date">
                                <div>DAY</div>
                                <div>{{trainingItem.SessionDay}}</div>
                            </div>
                            <p>{{trainingItem.SessionStartTime}} - {{trainingItem.SessionEndTime}} | {{trainingItem.SessionLocation}}</p>
                            <h2>{{trainingItem.SessionName}}</h2>
                        </ion-item>
                        <ion-item class="socialActions">
                            <div class="row">
                                <div class="col-25">
                                    <button class="button button-full">
                                        <i class="learn-Icon-Share"></i>
                                    </button>
                                </div>
                                <div class="col-25"></div>
                                <div class="col-25"></div>
                                <div class="col-25">
                                    <button class="button button-full text-right">
                                        <i class="acc-menu-circle-vertical"></i>
                                    </button>
                                </div>
                            </div>
                        </ion-item>
                    </div>
                    <div class="list acc-thing stream-item" ng-repeat="item in stream"
                         style="border-radius: 3px;margin: 20px 10px;background-color:#fff">
                        <acc-social item="item" can-navigate="true" class="animated fadeIn"></acc-social>
                    </div>
                </ion-list>
                <ion-item class="item-body item-divider noborders">
                    <button class="button button-block button-dark" ng-if="!isLoading && existMoreData"
                            ng-click="loadStream()">Load More...
                    </button>
                </ion-item>
                <div class="partial-spinner" ng-if="isLoading">
                    <ion-spinner></ion-spinner>
                </div>
            </div>

            <!--<ion-item class="item item-no-data" ng-if="!circleId">-->
                <!--<p class="noDataShowText">A Circle has not been enabled for this Event.</p>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
    <button class="button float-btn nomargins noborders button-dark animated an2 bounceIn" ng-if="showPost"
            ng-click="openNewArticle()">
        <i class="ion-ios-compose-outline"></i>POST
    </button>
</ion-view>
<script type="text/ng-template" id="event.header.html">
    <h1 class='title'>DESIGN THINKING</h1>
</script>