<ion-view view-title="VENUE" class="participants-list-page-wrap" ng-init="initVenue()" hide-nav-bar="true">
    <!--<ion-nav-bar class="bar-positive background-isBlack" ng-if="!trainingItem.fromAdmin" style="z-index: 9999">-->
    <!--<ion-nav-buttons side="left">-->
    <!--<button menu-toggle="left" class="button button-icon learn-Icon-HamburgerMenu"></button>-->
    <!--</ion-nav-buttons>-->
    <!--<ion-nav-buttons side="right">-->
    <!--<i ng-click="viewNotifications()" ng-class="{true: 'ion-ios-bell activeity-head-bell-style', false: 'ion-ios-bell activeity-head-bell-NoUnRead-style'}[unReadIcon]" title="{{unreadCount}}"></i>-->
    <!--</ion-nav-buttons>-->
    <!--</ion-nav-bar>-->
    <ion-header-bar no-tap-scroll="true" class="tab-attendance-head"
                    ng-class="{true: 'bgc000', false: 'bgcb90b62'}[trainingItem.fromAdmin]"
                    align-title="center">
        <i ng-click="backToEvents()" class="acc-angle-left" ng-if="trainingItem.fromAdmin"></i>
        <button menu-toggle="left" class="button button-icon learn-Icon-HamburgerMenu"
                ng-if="!trainingItem.fromAdmin"></button>
        <h1>
            VENUE
        </h1>
        <i ng-click="viewNotifications()" ng-if="!trainingItem.fromAdmin"
           ng-class="{true: 'ion-ios-bell activeity-head-bell-style', false: 'ion-ios-bell activeity-head-bell-NoUnRead-style'}[unReadIcon]"
           title="{{unreadCount}}"></i>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="venue-banner" ng-style="centerImg">
            <div class="venue-center">
                <p>{{whichFacility.country || whichFacility.city}} Learning Center</p>
                <p>{{whichFacility.add1}} {{whichFacility.add2}}</p>
                <p>{{whichFacility.city}}</p>
            </div>
        </div>

        <ion-item class="item" ng-repeat="option in venueOptions" ng-click="facilityVenueOptions($index)">
            <div class="tab-venue-list-item">
                {{option}}
                <i class="ion ion-ios-arrow-forward"></i>
            </div>
        </ion-item>

        <!--<ion-item class="item" ng-click="venueMap()">-->
            <!--<div class="tab-venue-list-item">-->
                <!--LOCATION MAP-->
                <!--<i class="ion ion-ios-arrow-forward"></i>-->
            <!--</div>-->
        <!--</ion-item>-->
        <!--<ion-item class="item" ng-click="navigateToState('app.floorMap')">-->
            <!--<div class="tab-venue-list-item">-->
                <!--FLOOR MAPS-->
                <!--<i class="ion ion-ios-arrow-forward"></i>-->
            <!--</div>-->
        <!--</ion-item>-->
        <!--<ion-item class="item" ng-click="venueWeather()">-->
            <!--<div class="tab-venue-list-item">-->
                <!--WEATHER-->
                <!--<i class="ion ion-ios-arrow-forward"></i>-->
            <!--</div>-->
        <!--</ion-item>-->
        <!--<ion-item class="item" ng-click="navigateToPeopleOnSite()">-->
            <!--<div class="tab-venue-list-item">-->
                <!--ALL PEOPLE AT THIS FACILITY-->
                <!--<i class="ion ion-ios-arrow-forward"></i>-->
            <!--</div>-->
        <!--</ion-item>-->
        <!--<ion-item class="item" ng-click="navigateToOnGoingEvent()">-->
            <!--<div class="tab-venue-list-item">-->
                <!--ALL COURSES AT THIS FACILITY-->
                <!--<i class="ion ion-ios-arrow-forward"></i>-->
            <!--</div>-->
        <!--</ion-item>-->


    </ion-content>
</ion-view>
