<ion-view ng-controller="TrainingDetailCtrl" ng-init="getVenue()" data-header-shrink="false" data-header-shrink-status-bar="0">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear acc-menu" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="list card acc-thing" ng-repeat="list in singleFacility">
            <ion-item class="item-image image-for-ios9">
                <img ng-src="img/{{ list.name }}.jpg" />
            </ion-item>
            <ion-item class="item item-text-wrap">
                <a ng-href="{{ list.url }}" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
                    <h2>{{ list.name }}</h2>
                </a>
                <p> {{ list.add1 }}, {{ list.city }}, {{ list.zip }}, {{ list.country }} </p>
                <p>
                    <a ng-href="http://webcast.qcenter.com/qnav/mobile/qnav_help.mp4" onclick="window.open(this.href, '_system', 'location=yes'); return false;" ng-show="qCenterLinkVisible">
                        Q Center Navigation Overview
                    </a>
                </p>
                <p>
                    <a ng-href="http://webcast.qcenter.com/qnav/qnav.php" onclick="window.open(this.href, '_system', 'location=yes'); return false;" ng-show="qCenterLinkVisible">
                        Q Center Interactive Map

                    </a>
                </p>
            </ion-item>
        </div>

        <div ng-if="googleMapVisible" class="list card acc-thing" ng-repeat="list in singleFacility">
            <!--<ion-item class="item-image">
                <iframe width="500"
                        height="260"
                        frameborder="0" style="border:0; margin-top:15px;"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCc1ZDV6W-V7ZBtkjct_AL9c6qpQl9JGGU&q={{list.city}}" allowfullscreen>
                </iframe>
            </ion-item>-->
            <ion-item class="item-image image-for-ios9">
                <a ng-href="https://www.google.com/maps/search/{{list.add1}},{{list.city}},{{list.state}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
                    <img ng-src="http://maps.googleapis.com/maps/api/staticmap?size=500x260&key=AIzaSyCc1ZDV6W-V7ZBtkjct_AL9c6qpQl9JGGU&center={{list.add1}},{{list.city}},{{list.state}}&zoom=13&markers=color:blue|label:S|{{list.add1}},{{list.city}},{{list.state}}" />
                </a>
            </ion-item>
            <ion-item class="item item-text-wrap">
                <a>
                    <h2>{{ list.add1 }}, {{ list.city }}</h2>
                </a>
                <p> Get Direction </p>
            </ion-item>
        </div>

        <div ng-if="!googleMapVisible" class="list card acc-thing" ng-repeat="list in singleFacility">
            <ion-item class="item-image image-for-ios9">
                <img ng-src="http://image.maps.cit.api.here.com/mia/1.6/mapview?app_id=p8tWlT2mQCQ6zjp9O9MR&app_code=UJCQcM0SiMBPbC5VPN2_tA&w=500&h=260&z=9&co={{list.state}}&ci={{list.city}}" />
            </ion-item>
            <ion-item class="item item-text-wrap">
                <a>
                    <h2>{{ list.add1 }}, {{ list.city }}</h2>
                </a>
                <p> Get Direction </p>
            </ion-item>
        </div>

        <ion-item class="acc-thing card item-body weather" ng-show="weatherCard">
            <div class="row">
                <div class="col w_bigtext_current_temp">{{weather[0].results.channel.item.condition.temp}}</div>
                <div class="col w_small_for_degreeF" style="{{ fontSizeF }}" ng-click="getFahrenheit()">Fº</div>
                <div class="col w_small_for_degree"> | </div>
                <div class="col w_small_for_degreeC" style="{{ fontSizeC }}" ng-click="getCentigrade()">Cº</div>
                <div class="col"><img src="img/weather/{{weather[0].results.channel.item.condition.code}}.png" /></div>
            </div>
            <div class="row">
                <div class="col w_small">
                    <b>Today</b>
                    <br />{{weather[0].results.channel.item.forecast[0].high}}º {{weather[0].results.channel.item.forecast[0].low}}º<br />
                    <img class="w_img_small" src="img/weather/{{weather[0].results.channel.item.forecast[0].code}}.png" />
                </div>
                <div class="col w_small">
                    <b>{{weather[0].results.channel.item.forecast[1].day}}</b>
                    <br />{{weather[0].results.channel.item.forecast[1].high}}º {{weather[0].results.channel.item.forecast[1].low}}º<br />
                    <img class="w_img_small" src="img/weather/{{weather[0].results.channel.item.forecast[1].code}}.png" />
                </div>
                <div class="col w_small">
                    <b>{{weather[0].results.channel.item.forecast[2].day}}</b>
                    <br />{{weather[0].results.channel.item.forecast[2].high}}º {{weather[0].results.channel.item.forecast[2].low}}º<br />
                    <img class="w_img_small" src="img/weather/{{weather[0].results.channel.item.forecast[2].code}}.png" />
                </div>
                <div class="col w_small">
                    <b>{{weather[0].results.channel.item.forecast[3].day}}</b>
                    <br />{{weather[0].results.channel.item.forecast[3].high}}º {{weather[0].results.channel.item.forecast[3].low}}º<br />
                    <img class="w_img_small" src="img/weather/{{weather[0].results.channel.item.forecast[3].code}}.png" />
                </div>
                <div class="col w_small">
                    <b>{{weather[0].results.channel.item.forecast[4].day}}</b>
                    <br />{{weather[0].results.channel.item.forecast[4].high}}º {{weather[0].results.channel.item.forecast[4].low}}º<br />
                    <img class="w_img_small" src="img/weather/{{weather[0].results.channel.item.forecast[4].code}}.png" />
                </div>
            </div>
            <ion-item class="item item-text-wrap">
                <a>
                    <h2>Weather in {{singleFacility[0].city}}</h2>
                </a>
                <p> {{weather[0].results.channel.item.condition.text}} </p>
            </ion-item>
        </ion-item>
    </ion-content>

</ion-view>