<ion-view view-title="" class="forRecommended">

    <!--Title nav-bar with backbutton-->
    <ion-nav-bar class="bar bar-primary">
        <ion-nav-title>
            <h3 class="title">
                Follow 5 skills, to get recommendations
            </h3>
        </ion-nav-title>
    </ion-nav-bar>
    <!--List of skills to follow-->
    <ion-content locking="true" scroll-event-interval="5" has-header="false" has-bouncing="true" class="has-acc-header borderBtmHeader " delegate-handle="recommendSkills">

        <!-- List of Skills -->
        <ion-list class="forSkillsRecommended acc-thing">
            <ion-item class="item-body legend noborders">
                <p class="rating no-picture ">
                    <i class="acc-star user"></i>My proficiency
                </p>
                <p class="rating no-picture">
                    <i class="acc-star required"></i>Target proficiency
                </p>
            </ion-item>

            <!-- RECOMMENDED SKILLS -->
            <div class="list card acc-thing summary-card" summary-card="skillsModel.recommendedSkills.list.length" data-is-card="false" data-show-more="skillsModel.recommendedSkills.list">
                <ion-item class=" item-body item-icon-left noborders with-identifier summary-card-header">
                    <div class="identifier rounded icon">
                        <i class="identifier-icon acc-skill"></i>
                    </div>
                    <h2>Current Roles Skills</h2>
                </ion-item>
                <div class="summary-card-collapsable">
                    <ion-item class="summary-card-element item-body" ng-class="{'disabled':!skill.IsActive}" ng-click="openModal('skills', $event)" ng-repeat="skill in skillsModel.recommendedSkills.list | filter: { IsFollow: false } | limitTo:constants.skills.size" id="RecSkillId_{{skill.SkillId}}" on-touch="selectSkill(skill)">
                        <h2 class="title" ng-show="!skill.IsActive">{{constants.skills.disabledText}}</h2>
                        <h2 class="title" ng-show="skill.IsActive">{{skill.SkillName}}</h2>

                        <p class="rating no-picture">
                            <i class="acc-star p0" ng-class="{'user': (skill.UserProficiency>=1), 'required':(skill.ProficiencyRole>=1 && skill.UserProficiency<1)}"></i>
                            <i class="acc-star p1" ng-class="{'user': (skill.UserProficiency>=2), 'required':(skill.ProficiencyRole>=2 && skill.UserProficiency<2)}"></i>
                            <i class="acc-star p2" ng-class="{'user': (skill.UserProficiency>=3), 'required':(skill.ProficiencyRole>=3 && skill.UserProficiency<3)}"></i>
                            <i class="acc-star p3" ng-class="{'user': (skill.UserProficiency>=4), 'required':(skill.ProficiencyRole>=4 && skill.UserProficiency<4)}"></i>
                            <i class="acc-star p4" ng-class="{'user': (skill.UserProficiency>=5), 'required':(skill.ProficiencyRole>=5 && skill.UserProficiency<5)}"></i>

                        </p>

                        <button class="skillAction followAction button-clear item-divider" ng-click="toggleTempFollow(skill,true)">
                            FOLLOW
                        </button>
                        <i class="skillAction icon acc-check hide" ng-click="toggleTempFollow(skill,false)"></i>
                    </ion-item>
                    <ion-item class="item-body show-more" ng-show="!skillsModel.recommendedSkills.endPaging">
                        <h4 class="text-center noMarginTop" ng-click="showMoreSkills('skills')">SHOW MORE</h4>
                    </ion-item>
                </div>
            </div>

            <!-- SPECIALTY SKILLS -->
            <div class="list card acc-thing summary-card" summary-card="skillsModel.specialtySkills.list.length" data-is-card="false" data-show-more="skillsModel.specialtySkills.list">
                <ion-item class=" item-body item-icon-left noborders with-identifier summary-card-header">
                    <div class="identifier rounded icon">
                        <i class="identifier-icon acc-skill"></i>
                    </div>
                    <h2>Specialization Skills</h2>
                </ion-item>

                <div class="summary-card-collapsable">
                    <ion-item class="summary-card-element item-body" ng-class="{'disabled':!skill.IsActive}" ng-click="openModal('skills', $event)" ng-repeat="skill in skillsModel.specialtySkills.list | filter: { IsFollow: false } | limitTo:constants.skills.size" id="RecSkillId_{{skill.SkillId}}" on-touch="selectSkill(skill)">
                        <h2 class="title" ng-show="!skill.IsActive">{{constants.skills.disabledText}}</h2>
                        <h2 class="title" ng-show="skill.IsActive">{{skill.SkillName}}</h2>

                        <p class="rating no-picture">
                            <i class="acc-star p0" ng-class="{'user': (skill.UserProficiency>=1), 'required':(skill.ProficiencyRole>=1 && skill.UserProficiency<1)}"></i>
                            <i class="acc-star p1" ng-class="{'user': (skill.UserProficiency>=2), 'required':(skill.ProficiencyRole>=2 && skill.UserProficiency<2)}"></i>
                            <i class="acc-star p2" ng-class="{'user': (skill.UserProficiency>=3), 'required':(skill.ProficiencyRole>=3 && skill.UserProficiency<3)}"></i>
                            <i class="acc-star p3" ng-class="{'user': (skill.UserProficiency>=4), 'required':(skill.ProficiencyRole>=4 && skill.UserProficiency<4)}"></i>
                            <i class="acc-star p4" ng-class="{'user': (skill.UserProficiency>=5), 'required':(skill.ProficiencyRole>=5 && skill.UserProficiency<5)}"></i>

                        </p>

                        <button class="skillAction followAction button-clear item-divider" ng-click="toggleTempFollow(skill,true)">
                            FOLLOW
                        </button>
                        <i class="skillAction icon acc-check hide" ng-click="toggleTempFollow(skill,false)"></i>
                    </ion-item>

                    <ion-item class="item-body show-more" ng-show="!skillsModel.specialtySkills.endPaging">
                        <h4 class="text-center noMarginTop" ng-click="showMoreSkills('specialtySkills')">SHOW MORE</h4>
                    </ion-item>
                </div>
            </div>

            <!-- BUSINESS PROIRITY SKILLS -->
            <div class="list card acc-thing summary-card" summary-card="skillsModel.businessSkills.list.length" data-is-card="false" data-show-more="skillsModel.businessSkills.list">
                <ion-item class=" item-body item-icon-left noborders with-identifier summary-card-header">
                    <div class="identifier rounded icon">
                        <i class="identifier-icon acc-skill"></i>
                    </div>
                    <h2>Business Priority Skills</h2>
                </ion-item>

                <div class="summary-card-collapsable">
                    <ion-item class="summary-card-element item-body" ng-class="{'disabled':!skill.IsActive}" ng-click="openModal('skills', $event)" ng-repeat="skill in skillsModel.businessSkills.list | filter: { IsFollow: false } | limitTo:constants.skills.size" id="RecSkillId_{{skill.SkillId}}" on-touch="selectSkill(skill)">
                        <h2 class="title" ng-show="!skill.IsActive">{{constants.skills.disabledText}}</h2>
                        <h2 class="title" ng-show="skill.IsActive">{{skill.SkillName}}</h2>

                        <p class="rating no-picture">
                            <i class="acc-star p0" ng-class="{'user': (skill.UserProficiency>=1), 'required':(skill.ProficiencyRole>=1 && skill.UserProficiency<1)}"></i>
                            <i class="acc-star p1" ng-class="{'user': (skill.UserProficiency>=2), 'required':(skill.ProficiencyRole>=2 && skill.UserProficiency<2)}"></i>
                            <i class="acc-star p2" ng-class="{'user': (skill.UserProficiency>=3), 'required':(skill.ProficiencyRole>=3 && skill.UserProficiency<3)}"></i>
                            <i class="acc-star p3" ng-class="{'user': (skill.UserProficiency>=4), 'required':(skill.ProficiencyRole>=4 && skill.UserProficiency<4)}"></i>
                            <i class="acc-star p4" ng-class="{'user': (skill.UserProficiency>=5), 'required':(skill.ProficiencyRole>=5 && skill.UserProficiency<5)}"></i>

                        </p>

                        <button class="skillAction followAction button-clear item-divider" ng-click="toggleTempFollow(skill,true)">
                            FOLLOW
                        </button>
                        <i class="skillAction icon acc-check hide" ng-click="toggleTempFollow(skill,false)"></i>
                    </ion-item>

                    <ion-item class="item-body show-more" ng-show="!skillsModel.businessSkills.endPaging">
                        <h4 class="text-center noMarginTop" ng-click="showMoreSkills('businessPrioritySkills')">SHOW MORE</h4>
                    </ion-item>
                </div>
            </div>

            <!-- FUTURE SKILLS -->
            <div class="list card acc-thing summary-card" summary-card="skillsModel.futureSkills.list.length" data-is-card="false" data-show-more="skillsModel.futureSkills.list">
                <ion-item class=" item-body item-icon-left noborders with-identifier summary-card-header">
                    <div class="identifier rounded icon">
                        <i class="identifier-icon acc-skill"></i>
                    </div>
                    <h2>Future Role Skills</h2>
                </ion-item>
                <div class="summary-card-collapsable">
                    <ion-item class="summary-card-element item-body" ng-class="{'disabled':!skill.IsActive}" ng-click="openModal('skills', $event)" ng-repeat="skill in skillsModel.futureSkills.list | filter: { IsFollow: false } | limitTo:constants.skills.size" id="RecSkillId_{{skill.SkillId}}" on-touch="selectSkill(skill)">
                        <h2 class="title" ng-show="!skill.IsActive">{{constants.skills.disabledText}}</h2>
                        <h2 class="title" ng-show="skill.IsActive">{{skill.SkillName}}</h2>

                        <p class="rating no-picture">
                            <i class="acc-star p0" ng-class="{'user': (skill.UserProficiency>=1), 'required':(skill.ProficiencyRole>=1 && skill.UserProficiency<1)}"></i>
                            <i class="acc-star p1" ng-class="{'user': (skill.UserProficiency>=2), 'required':(skill.ProficiencyRole>=2 && skill.UserProficiency<2)}"></i>
                            <i class="acc-star p2" ng-class="{'user': (skill.UserProficiency>=3), 'required':(skill.ProficiencyRole>=3 && skill.UserProficiency<3)}"></i>
                            <i class="acc-star p3" ng-class="{'user': (skill.UserProficiency>=4), 'required':(skill.ProficiencyRole>=4 && skill.UserProficiency<4)}"></i>
                            <i class="acc-star p4" ng-class="{'user': (skill.UserProficiency>=5), 'required':(skill.ProficiencyRole>=5 && skill.UserProficiency<5)}"></i>

                        </p>

                        <button class="skillAction followAction button-clear item-divider" ng-click="toggleTempFollow(skill,true)">
                            FOLLOW
                        </button>
                        <i class="skillAction icon acc-check hide" ng-click="toggleTempFollow(skill,false)"></i>
                    </ion-item>

                    <ion-item class="item-body show-more" ng-show="!skillsModel.futureSkills.endPaging">
                        <h4 class="text-center noMarginTop" ng-click="showMoreSkills('futureSkills')">SHOW MORE</h4>
                    </ion-item>
                </div>
            </div>

        </ion-list>


    </ion-content>
    <ion-footer-bar align-title="center" class="bar-primary">
        <button class="button button-full button-large button-dark noMarginTop noMarginBottom" ng-click="setHaveSeenRecommededSkills()">DONE</button>
    </ion-footer-bar>
</ion-view>